.about-us__container {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  margin-bottom: 40px;

  &--main {
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    color: $color-darkgray;
    font-family: $font-alt;

    h2 {
      font-size: 38px;
      margin-bottom: 20px;
    }
    img {
      width: 225px;
      margin-bottom: 50px;
    }
    p {
      font-size: 30px;
      font-weight: lighter;
      text-align: center;
    }
    img:last-of-type {
      width: 180px;
      margin-left: 400px;
      margin-top: 40px;
    }
  }
  &--image {
    height: 735px;
    width: 942px;
  }
}