.about-work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-alt;
  color: $color-darkgray;
  min-width: toRem(1800);
  @include respond-to("medium") {
    min-width: 0;
  }

  &--title {
    font-size: toRem(38);
    margin-bottom: toRem(25);
    @include respond-to("medium") {
      font-size: toRem(32);
    }
  }

  &--decoration {
    width: toRem(225);
    margin-bottom: toRem(10);
    @include respond-to("medium") {
      width: toRem(175);
    }
  }

  &--links {
    margin-bottom: toRem(35);
    display: flex;
    @include respond-to("medium") {
      flex-direction: column;
      margin-bottom: toRem(10);
    }

    h3 {
      font-size: toRem(24);
      font-weight: lighter;
      color: $color-darkgray;
      margin: toRem(30) toRem(50) toRem(20) toRem(50);
      padding: toRem(10) toRem(20);
      border: toRem(1) solid transparent;
      cursor: pointer;
      @include respond-to("medium") {
        font-size: toRem(20);
        margin: toRem(10);
        font-weight: bold;
      }

      &:hover {
        border: toRem(1) solid $color-gray;
      }
    }
  }

  &--main {
    width: toRem(600);
    font-size: toRem(22);
    font-weight: lighter;
    margin-bottom: toRem(20);
    text-align: center;
    margin-left: toRem(350);
    @include respond-to("medium") {
      width: toRem(300);
      font-size: toRem(18);
      margin-left: toRem(0);
      margin-bottom: toRem(10);

    }
  }

  section {
    font-family: $font-base;
    width: toRem(1280);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: toRem(1) solid $color-gray;
    padding: toRem(25) 0;
    @include respond-to("medium") {
      width: toRem(600);
      padding: toRem(15) 0;
      flex-direction: column;

    }

    &:last-of-type {
      border-bottom: toRem(1) solid transparent;
    }

    h2 {
      font-size: toRem(26);
      font-weight: lighter;
      @include respond-to("medium") {
        font-size: toRem(18);
        font-weight: bold;
      }

    }

    p {
      font-size: toRem(18);
      font-weight: lighter;
      @include respond-to("medium") {
        font-size: toRem(16);
        margin-bottom: toRem(5);
        width: toRem(300);

      }

    }
  }


}

.about-work__container--footer {
  margin: toRem(20);
  display: flex;


  a {
    padding: toRem(10);
    margin: toRem(10) toRem(15);
    color: $color-gray;
    border: toRem(1) solid transparent;
    background: transparent;

    &:hover {
      border: toRem(1) solid $color-gray;
    }
  }
}
.about-work__text--fix {
  //Yes, i know it's not good idea, but i didn't have time:P
  p, h2, section, div {
    @include respond-to("medium") {
      width: toRem(300);
    }
  }
}
