.about-us__container {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  margin-bottom: toRem(40);

  &--main {
    width: toRem(620);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: toRem(150);
    color: $color-darkgray;
    font-family: $font-alt;

    h2 {
      font-size: toRem(38);
      margin-bottom: toRem(20);
    }
    img {
      width: toRem(225);
      margin-bottom: toRem(50);
    }
    p {
      font-size: toRem(30);
      font-weight: lighter;
      text-align: center;
    }
    img:last-of-type {
      width: toRem(180);
      margin-left: toRem(400);
      margin-top: toRem(40);
    }
  }
  &--image {
    height: toRem(735);
    width: toRem(912);
  }
}