.alert {
  font-family: $font-alt;
  background: #FAD648;
  padding: toRem(50) 0;

  &__container {
    margin-left: toRem(150);

    h2 {
      font-size: toRem(36);
      font-weight: toRem(600);
    }

    p {
      font-size: toRem(22);
    }
  }
}