.copyright {
  position: relative;
  min-width: toRem(1800);

  &__container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    font-family: $font-alt;
    position: absolute;
    bottom: toRem(10);
    z-index: 10;

    p {
      margin-left: toRem(700);
    }
    div {
      margin-left: toRem(500);
    }
  }
}