.copyright {
  position: relative;
  min-width: toRem(1800);
  @include respond-to("medium") {
    min-width: toRem(425);
  }


  &__container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    font-family: $font-alt;
    position: absolute;
    bottom: toRem(10);
    z-index: 10;
    @include respond-to("medium") {
      font-size: toRem(14);
      justify-content: center;
    }

    p {
      margin-left: toRem(700);
      @include respond-to("medium") {
        margin-left: toRem(100);

      }

    }

    div {
      margin-left: toRem(500);
      @include respond-to("medium") {
        margin-left: toRem(10);
      }
    }
  }
}