.footer-form__container {
  display: flex;
  justify-content: space-between;

  section {
    border-bottom: toRem(2) solid rgba(189, 195, 199);

    &:last-of-type {
      margin-left: toRem(20);
    }
  }

  label {
    font-size: toRem(16);
    font-family: $font-alt;
    font-weight: 600;


  }

  input {
    font-size: toRem(18);
    font-family: $font-alt;
    border: none;
    margin-top: toRem(15);
    background: transparent;


    &::placeholder {
      opacity: 0.3;
    }
  }
}

.footer-form__main {
  display: flex;
  flex-direction: column;
  margin-top: toRem(20);


  label {
    font-size: toRem(16);
    font-family: $font-alt;
    font-weight: 600;
  }

  input {
    font-size: toRem(18);
    font-family: $font-alt;
    border: none;
    margin-top: toRem(15);
    background: transparent;
    height: toRem(200);

  }

  textarea {
    background: transparent;
    font-family: $font-alt;
    font-size: toRem(18);
    resize: none;
    width: 100%;
    height: toRem(100);
    margin-top: toRem(20);
    margin-bottom: toRem(40);
    border: none;
    border-bottom: toRem(2) solid rgba(189, 195, 199);

    &::placeholder {
      opacity: 0.3;
    }
  }
}

.footer-form__button {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  button {
    padding: toRem(8) toRem(45);
    font-size: toRem(18);
    font-family: $font-alt;
    font-weight: lighter;
    background: transparent;
    border: toRem(0.75) solid $color-darkgray;
    cursor: pointer;

  }
}

