.footer__container {
  height: 900px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: toRem(100);

  &::before {
    content: "";
    background-image: url("../../assets/FooterBgc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    z-index: 1;
  }

  &--main {
    margin-right: toRem(100);
    z-index: 10;
    width: toRem(530);
  }

  &--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: toRem(40);

    h2 {
      font-size: toRem(38);
      font-family: $font-alt;
      margin-bottom: toRem(25);
    }
  }
}