.give-items {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/Header-Form-Background@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: toRem(150);
  @include respond-to("medium") {
    background-image: none;
    padding-bottom: toRem(50);
    width: toRem(450);
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-right: toRem(50);
    @include respond-to("medium") {
      justify-content: start;
      width: toRem(500);
    }

  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    margin-right: toRem(300);
    margin-top: toRem(100);
    @include respond-to("medium") {
      align-items: center;
      margin-right: toRem(0);
    }

    h1 {
      font-family: $font-alt;
      font-size: toRem(38);
      @include respond-to("medium") {
        font-size: toRem(22);
        margin-bottom: toRem(-70);
      }
    }

    &--boxes {
      width: toRem(640);
      @include respond-to("medium") {
        transform: scale(0.6);
      }


      img {
        width: toRem(250);
        margin: toRem(30) 0;

      }

      h2 {
        font-family: $font-alt;
        font-size: toRem(40);
        font-weight: lighter;

      }
    }
  }
}

.give-items__boxes {
  display: flex;
  justify-content: center;
  margin-top: toRem(30);


  section {
    font-family: $font-alt;
    font-weight: lighter;
    position: relative;
    margin: toRem(35);


    &:last-of-type {
      margin-left: toRem(50);
    }

    h3 {
      font-size: toRem(32);
      margin-bottom: toRem(30);

    }

    p {
      font-size: toRem(22);

    }

    div {
      position: absolute;
      border: toRem(1) solid $color-gray;
      height: toRem(140);
      width: toRem(140);
      right: toRem(-25);
      top: 0;
      transform: rotate(45deg);
    }
  }
}