.give-items {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/Header-Form-Background@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 150px;

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;

  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    margin-right: 300px;
    margin-top: 100px;

    h1 {
      font-family: $font-alt;
      font-size: 38px;
    }

    &--boxes {
      width: 640px;

      img {
        width: 250px;
        margin: 30px 0;

      }

      h2 {
        font-family: $font-alt;
        font-size: 40px;
        font-weight: lighter;
      }
    }
  }
}
.give-items__boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  section {
    //padding: 30px 30px;
    font-family: $font-alt;
    font-weight: lighter;
    position: relative;
    margin: 35px;


    h3 {
      font-size: 32px;
      margin-bottom: 30px;

    }
    p {
      font-size: 22px;

    }
    div {
      position: absolute;
      border: 1px solid $color-gray;
      height: 140px;
      width: 140px;
      right: -25px;
      top: 0;
      transform: rotate(45deg);
    }
  }
}