.home-nav__container {
  &-list {
    font-family: $font-base;
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    li {
      margin: 20px;

      a {
        color: $color-darkgray;
        transition: 0.5s;
        &:hover {
          border: 1px solid $color-gray;
          padding: 10px 20px;
        }
      }
    }
  }
}