.home-header__container {
  @include respond-to("medium") {
    margin-bottom: toRem(50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: toRem(400);
  }

  &--title {
    width: toRem(650);
    font-size: toRem(38);
    text-align: center;
    margin-right: toRem(300);
    margin-top: toRem(150);
    box-sizing: border-box;
    @include respond-to("medium") {
      font-size: toRem(22);
      font-weight: bold;
      margin-top: toRem(50);
      margin-left: toRem(60);
      width: toRem(300);
      margin-right: toRem(100);
    }
  }

  div {
    margin-top: toRem(100);
    display: flex;
    @include respond-to("medium") {
      margin-top: toRem(25);

    }

    a {
      font-family: $font-alt;
      font-size: toRem(36);
      font-weight: lighter;
      color: $color-darkgray;
      padding: toRem(15) toRem(40);
      text-transform: uppercase;
      border: toRem(0.75) solid #3C3C3C;
      cursor: pointer;
      @include respond-to("medium") {
        font-size: toRem(22);
        padding: toRem(5) toRem(15);


      }

      &:first-child {
        text-align: center;
        width: toRem(200);
        margin-left: toRem(15);
        @include respond-to("medium") {
          margin-left: toRem(50);
          width: toRem(125);
        }
      }

      &:last-child {
        margin-left: toRem(40);
        @include respond-to("medium") {
          margin-left: toRem(15);
        }
      }
    }
  }
}

.hide {
  display: none;

  @include respond-to("medium") {
    display: block;
    height: toRem(50);
    width: toRem(50);
    justify-content: center;
    z-index: 10;

  }
}

.home__container {
  display: flex;
  justify-content: space-between;

  img {
    @include respond-to("medium") {
      display: none;
    }
  }
}
