.home-nav__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: toRem(900);

  &--menu {
    margin-left: toRem(850);

  }
  &--header {
    display: flex;
    justify-content: flex-end;

    li {
      margin: toRem(20) toRem(5);

      &:last-child {
        margin-right: toRem(20);
      }

      a {
        color: $color-gray;
        padding: toRem(10);
        border: toRem(1) solid transparent;

        &:hover {
          border: toRem(1) solid gold;
        }
      }
    }
  }


  &--list {
    font-family: $font-base;
    font-weight: lighter;
    font-size: toRem(18);
    display: flex;
    justify-content: flex-end;
    width: toRem(900);

    @include respond-to('medium') {
      display: flex;
      flex-direction: column;
      margin-left: toRem(700);
    }

    li {
      margin: toRem(20);

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $color-darkgray;
        padding: toRem(10) toRem(20);
        border: toRem(1) solid transparent;


        &:hover {
          border: toRem(1) solid $color-gray;
        }
      }
    }
  }
}

.home-header__container {
  @include respond-to("medium") {
    margin-bottom: toRem(50);
  }
  &--title {
    width: 70%;
    font-size: toRem(38);
    text-align: center;
    margin-right: toRem(300);
    margin-top: toRem(150);
  }

  div {
    margin-top: toRem(100);

    a {
      font-family: $font-alt;
      font-size: toRem(36);
      font-weight: lighter;
      color: $color-darkgray;
      padding: toRem(15) toRem(40);
      text-transform: uppercase;
      border: toRem(0.75) solid #3C3C3C;
      cursor: pointer;

      &:first-child {
        text-align: center;
        width: toRem(200);
        margin-left: toRem(15);
      }
      &:last-child {
        margin-left: toRem(40);
      }
    }
  }
}

.hide {
  display: none;
  @include respond-to("medium") {
    display: inline-block;

  }
}
