.nav--logout {
  display: flex;

  button {
    margin-right: toRem(10);
    font-size: toRem(12);
    font-weight: bold;
    border: toRem(1) solid transparent;
    background: rgba(0, 0, 0, 0.15);
    border-radius: toRem(3);
    box-shadow: 0 toRem(-1) 0 rgba(0, 0, 0, 0.09), 0 toRem(1) toRem(1) rgba(0, 0, 0, 0.25);

    &:hover {
      transform: scale(1.1);
    }
  }
}

.logout__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: toRem(150) 0 toRem(50) 0;
  text-align: center;

  h2 {
    display: flex;
    flex-direction: column;
    font-size: toRem(40);
    font-family: $font-alt;
  }

  img {
    width: toRem(250);
    margin: toRem(40);
  }

  a {
    font-size: toRem(18);
    font-family: $font-alt;
    font-weight: lighter;
    color: $color-darkgray;
    border: toRem(1) solid $color-darkgray;
    padding: toRem(10) toRem(20);

    &:hover {
      transform: scale(1.05);
    }
  }
}

.error-message {
  font-family: $font-base;
  font-size: toRem(15);
  font-weight: 700;
  margin-top: toRem(10);
  transform: scale(1.5);
  box-shadow: 0 0 toRem(7) 0 red;
  background: red;
  padding: toRem(5);
}