.login {

  &--navigation {
    display: flex;
    justify-content: flex-end;
    margin-right: toRem(100);

  }

  &__container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: toRem(280);
      margin-bottom: toRem(50);
    }

    h1 {
      font-family: $font-alt;
      font-size: toRem(40);
      margin-bottom: toRem(25);
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: toRem(30) toRem(100);
      background: $color-white;
      margin-bottom: toRem(50);


      label {
        font-family: $font-alt;
        font-size: toRem(16);
        font-weight: 600;
        padding: toRem(20) 0;

      }

      input {
        border: none;
        background: transparent;
        border-bottom: toRem(2) solid $color-gray;
        margin-bottom: toRem(10);

      }
    }

    &--footer {
      display: flex;
      justify-content: space-between;
      width: toRem(500);

      a {
        font-family: $font-alt;
        font-size: toRem(16);
        font-weight: lighter;
        color: $color-darkgray;
        border: toRem(1) solid transparent;
        padding: toRem(10) toRem(20);

        &:hover {
          border: toRem(1) solid $color-lightyellow;
        }

      }

      button {
        font-family: $font-alt;
        font-size: toRem(16);
        font-weight: lighter;
        padding: toRem(10) toRem(15);
        background: transparent;
        border: toRem(1) solid $color-gray;
      }
    }
  }
}