.select-things {
  background-image: url("../../assets/Background-Form@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: $font-alt;
  height: toRem(800);
  @include respond-to("medium") {
    width: toRem(450);
    height: toRem(500);
  }

  &__container {
    padding: toRem(35) toRem(100);
    @include respond-to("medium") {
      padding: toRem(15) toRem(20);
    }


    h4 {
      font-size: toRem(24);
      font-weight: lighter;
      color: $color-darkgray;
      margin-bottom: toRem(60);
      @include respond-to("medium") {
        font-size: toRem(16);
        margin-bottom: toRem(10);
      }
    }

    h2 {
      font-size: toRem(36);
      font-weight: 600;
      margin-bottom: toRem(40);
      @include respond-to("medium") {
        font-size: toRem(22);
        margin-bottom: toRem(20);
      }
    }

    form {
      display: flex;
      flex-direction: column;

      section {
        margin-bottom: toRem(40);
        @include respond-to("medium") {
          margin-bottom: toRem(20);
        }


        input {
          height: toRem(35);
          width: toRem(35);
          position: relative;
          margin-right: toRem(30);
          @include respond-to("medium") {
            height: toRem(25);
            margin-right: toRem(10);
            width: toRem(25);
          }

          &:checked::before {
            content: "";
            position: absolute;
            background: $color-lightyellow;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: toRem(35);
            width: toRem(35);
            border: toRem(1) solid $color-darkgray;
            @include respond-to("medium") {
              height: toRem(25);
              margin-right: toRem(10);
              width: toRem(25);
            }
          }
        }

        label {
          font-size: toRem(24);
          font-weight: lighter;
          @include respond-to("medium") {
            font-size: toRem(15);
          }

        }
      }
    }
  }
}

.select-things--btn {
  font-family: $font-alt;
  font-size: toRem(24);
  font-weight: lighter;
  margin-top: toRem(110);
  padding: toRem(20) toRem(50);
  background: transparent;
  border: toRem(1) solid $color-darkgray;
  @include respond-to("medium") {
    margin-top: toRem(100);
    padding: toRem(15) toRem(30);
  }
}

.select-options__container {
  width: toRem(800);
  @include respond-to("medium") {
    width: toRem(300);
  }


  &--label {
    font-size: toRem(24);
    font-family: $font-alt;
    font-weight: lighter;
    position: relative;
    width: toRem(225);
    height: toRem(50);
    display: flex;
    align-items: center;
    @include respond-to("medium") {
      font-size: toRem(18);
      width: toRem(160);
    }

  }

  &--main {
    position: relative;
    display: flex;
    width: toRem(525);
    height: toRem(50);
    overflow: hidden;
    border-radius: toRem(2);
    font-size: toRem(24);
    font-family: $font-alt;
    font-weight: lighter;
    @include respond-to("medium") {
      width: toRem(400) !important;
      font-size: toRem(18);
    }


    &::after {
      content: url("../../assets/Arrow Down.png");
      position: absolute;
      top: toRem(12);
      right: 0;
      cursor: pointer;
      pointer-events: none;

      &:active {
        transform: rotate(90deg);
      }
    }

    select {
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: toRem(1) solid $color-darkgray;
      flex: 1;
      padding: 0 toRem(15);
      color: $color-darkgray;
      background: transparent;
      cursor: pointer;
      @include respond-to("medium") {
        padding: toRem(10);
      }

      select::-ms-expand {
        display: none;
      }
    }
  }
}

.step-three {
  margin-bottom: toRem(-25);


  &--title {
    font-size: toRem(36);
    font-family: $font-alt;
    font-weight: 600;
    margin-bottom: toRem(20);
    @include respond-to("medium") {
      margin-bottom: toRem(10);
      font-size: toRem(22);
    }
  }

  &__header {
    width: toRem(300);
    margin-bottom: toRem(50);
    @include respond-to("medium") {
      margin-bottom: toRem(10);
      font-size: toRem(22);
      width: toRem(275) !important;
    }
  }

  &__container {
    h3 {
      font-family: $font-alt;
      font-size: toRem(24);
      font-weight: 600;
      margin-bottom: toRem(30);
      @include respond-to("medium") {
        font-size: toRem(18);
        margin-bottom: toRem(15);
      }
    }

    &--buttons {

      section {
        display: flex;
        flex-wrap: wrap;
        height: toRem(175);
        width: toRem(1000);
        align-items: center;
        @include respond-to("medium") {
          width: toRem(400);
          height: toRem(50);
          //flex-direction: column;
          //flex-wrap: nowrap;
        }

        &:first-of-type {
          margin-bottom: toRem(-40);
        }

        div {
          padding: toRem(20) toRem(12);
          margin: toRem(0) toRem(20) toRem(0) 0;
          width: toRem(250);
          text-align: center;
          font-size: toRem(24);
          font-family: $font-alt;
          font-weight: lighter;
          border: toRem(1) solid $color-darkgray;
          @include respond-to("medium") {
            padding: toRem(5) toRem(10);
            width: toRem(150);
            margin: toRem(10) toRem(10) toRem(10) 0;
            font-size: toRem(16);

          }

          &:hover {
            transition: 250ms;
            transform: scale(1.05);
            background: $color-lightyellow;
            border: toRem(1) solid $color-darkgray;
          }
        }
      }
    }

    &--footer {
      width: toRem(1000);
      display: flex;
      flex-direction: column;
      margin-top: toRem(95);
      @include respond-to("medium") {
        width: toRem(400);
        margin-top: toRem(135);
      }

      label {
        font-family: $font-alt !important;
        font-weight: 600 !important;
        font-size: toRem(24) !important;
        @include respond-to("medium") {
          font-size: toRem(18) !important;
        }
      }

      input {
        margin-top: toRem(30);
        background: transparent;
        outline: none;
        border: toRem(1) solid $color-darkgray;
        width: toRem(555) !important;
        @include respond-to("medium") {
          margin-top: toRem(10);
          width: toRem(300) !important;
        }
      }
    }
  }
}

.select-things--steps {
  opacity: 0.6;
}

.step-fourth {
  width: toRem(910);
  @include respond-to("medium") {
    width: toRem(400);
  }

  h3 {
    font-family: $font-alt;
    font-size: toRem(36);
    font-weight: 600;
    margin-bottom: toRem(60);
    @include respond-to("medium") {
      font-size: toRem(18);
      margin-bottom: toRem(15);
    }
  }


  &__container {
    display: flex;
    justify-content: space-between;

    &--constrict {
      width: toRem(20);

    }
    &--label {
      font-size: toRem(14) !important;
      margin-right: toRem(-15);
    }

    section {
      display: flex;
      justify-content: space-between;
      align-items: center !important;


      &:last-of-type {
        align-items: start;
      }

      input {
        background: transparent;
        border: toRem(1) solid $color-darkgray;
        margin-left: toRem(20);
        padding: 0 toRem(10);
        width: toRem(250) !important;
        text-align: center;
        @include respond-to("medium") {
          width: toRem(100) !important;
        }
      }


      textarea {
        background: transparent;
        resize: none;
        margin-left: toRem(15);
        margin-right: toRem(30);
        @include respond-to("medium") {
          margin-left: toRem(5);
          margin-right: toRem(5);
          width: toRem(150);
        }
      }
    }

    h5 {
      font-family: $font-alt;
      font-weight: 600;
      font-size: toRem(24);
      margin-bottom: toRem(30);

    }

  }
}
.step-four--button {
  @include respond-to("medium") {
    margin-top: toRem(50);
  }
}

.select-submit--header {
  margin-top: toRem(40);
  @include respond-to("medium") {
    margin-top: toRem(5);
  }

  h3 {
    font-family: $font-alt;
    font-weight: 600;
    font-size: toRem(36);
    margin-bottom: toRem(50);
    @include respond-to("medium") {
      font-size: toRem(22);
      margin-bottom: toRem(15);
    }
  }

  h4 {
    font-family: $font-alt;
    font-weight: 600;
    font-size: toRem(24);
    margin-bottom: toRem(15);
    @include respond-to("medium") {
      font-size: toRem(18);
    }
  }

  .select-submit--title {
    display: flex;
    align-items: center;
    margin-bottom: toRem(20);
    @include respond-to("medium") {
      margin-bottom: toRem(5);
    }

    &:last-child {
      margin-bottom: toRem(40);
      @include respond-to("medium") {
        margin-bottom: toRem(10);
      }
    }

    img {
      height: toRem(40);
      width: toRem(40);
      margin-right: toRem(15);
    }
  }
}
.submit {
  @include respond-to("medium") {
    font-size: toRem(15);
  }
  h5 {
    @include respond-to("medium") {
      font-size: toRem(18);
      margin-bottom: toRem(10);
      &:first-of-type {
        margin-right: toRem(100);
      }
    }
  }
  section {
    @include respond-to("medium") {
      margin-right: toRem(15);
    }
  }
}

.submit--btn {
  margin-top: toRem(15);
  @include respond-to("medium") {
    margin-top: toRem(5);
    padding: toRem(10) toRem(15);
    &:last-of-type {
      margin-left: toRem(-29);

    }
  }

}

.select-things__container--end {
  height: toRem(700);
  width: toRem(900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    width: toRem(650);
    text-align: center;

  }
}

.step-two--btn {
  &:first-of-type {
      margin-right: toRem(50);
      margin-top: toRem(455);
    @include respond-to("medium") {
      margin-top: toRem(250);
    }
  }
}