.select-things {
  background-image: url("../../assets/Background-Form@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: $font-alt;
  height: toRem(800);

  &__container {
    padding: toRem(35) toRem(100);

    h4 {
      font-size: toRem(24);
      font-weight: lighter;
      color: $color-darkgray;
      margin-bottom: toRem(60);
    }

    h2 {
      font-size: toRem(36);
      font-weight: 600;
      margin-bottom: toRem(40);
    }

    form {
      display: flex;
      flex-direction: column;

      section {
        margin-bottom: toRem(40);


        input {
          height: toRem(35);
          width: toRem(35);
          position: relative;
          margin-right: toRem(30);

          &:checked::before {
            content: "";
            position: absolute;
            background: $color-lightyellow;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: toRem(35);
            width: toRem(35);
            border: toRem(1) solid $color-darkgray;
          }
        }

        label {
          font-size: toRem(24);
          font-weight: lighter;

        }
      }
    }
  }
}

.select-things--btn {
  font-family: $font-alt;
  font-size: toRem(24);
  font-weight: lighter;
  margin-top: toRem(110);
  padding: toRem(20) toRem(50);
  background: transparent;
  border: toRem(1) solid $color-darkgray;
}

.select-options__container {
  width: toRem(800);


  &--label {
    font-size: toRem(24);
    font-family: $font-alt;
    font-weight: lighter;
    position: relative;
    width: toRem(225);
    height: toRem(50);
    display: flex;
    align-items: center;

  }

  &--main {
    position: relative;
    display: flex;
    width: toRem(525);
    height: toRem(50);
    overflow: hidden;
    border-radius: toRem(2);
    font-size: toRem(24);
    font-family: $font-alt;
    font-weight: lighter;


    &::after {
      content: url("../../assets/Arrow Down.png");
      position: absolute;
      top: toRem(12);
      right: 0;
      cursor: pointer;
      pointer-events: none;

      &:active {
        transform: rotate(90deg);
      }
    }

    select {
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: toRem(1) solid $color-darkgray;
      flex: 1;
      padding: 0 toRem(15);
      color: $color-darkgray;
      background: transparent;
      cursor: pointer;

      select::-ms-expand {
        display: none;
      }
    }
  }
}

.step-three {
  margin-bottom: toRem(-25);

  &--title {
    font-size: toRem(36);
    font-family: $font-alt;
    font-weight: 600;
    margin-bottom: toRem(20);
  }

  &__header {
    width: toRem(300);
    margin-bottom: toRem(50);
  }

  &__container {
      h3 {
      font-family: $font-alt;
      font-size: toRem(24);
      font-weight: 600;
      margin-bottom: toRem(30);
    }

    &--buttons {

      section {
        display: flex;
        flex-wrap: wrap;
        height: toRem(175);
        width: toRem(1000);
        align-items: center;

        &:first-of-type {
          margin-bottom: toRem(-40);
        }

        div {
          padding: toRem(20) toRem(12);
          margin: toRem(0) toRem(20) toRem(0) 0;
          width: toRem(250);
          text-align: center;
          font-size: toRem(24);
          font-family: $font-alt;
          font-weight: lighter;
          border: toRem(1) solid $color-darkgray;

          &:hover {
            transition: 250ms;
            transform: scale(1.05);
            background: $color-lightyellow;
            border: toRem(1) solid $color-darkgray;
          }
        }
      }
    }

    &--footer {
      width: toRem(1000);
      display: flex;
      flex-direction: column;
      margin-top: toRem(95);

      label {
        font-family: $font-alt !important;
        font-weight: 600 !important;
        font-size: toRem(24) !important;
      }

      input {
        margin-top: toRem(30);
        background: transparent;
        outline: none;
        border: toRem(1) solid $color-darkgray;
        width: toRem(555) !important;
      }
    }
  }
}

.select-things--steps {
  opacity: 0.6;
}

.step-fourth {
  width: toRem(910);

  h3 {
    font-family: $font-alt;
    font-size: toRem(36);
    font-weight: 600;
    margin-bottom: toRem(60);
  }


  &__container {
    display: flex;
    justify-content: space-between;

    &--constrict {
      width: toRem(20);

    }

    section {
      display: flex;
      justify-content: space-between;
      align-items: center !important;

      &:last-of-type {
        align-items: start;
      }

      input {
        background: transparent;
        border: toRem(1) solid $color-darkgray;
        margin-left: toRem(20);
        padding: 0 toRem(10);
        width: toRem(250) !important;
        text-align: center;
      }


      textarea {
        background: transparent;
        resize: none;
        margin-left: toRem(15);
        margin-right: toRem(30);
      }
    }

    h5 {
      font-family: $font-alt;
      font-weight: 600;
      font-size: toRem(24);
      margin-bottom: toRem(30);

    }
  }
}

.select-submit--header {
  margin-top: toRem(40);

  h3 {
    font-family: $font-alt;
    font-weight: 600;
    font-size: toRem(36);
    margin-bottom: toRem(50);
  }

  h4 {
    font-family: $font-alt;
    font-weight: 600;
    font-size: toRem(24);
    margin-bottom: toRem(15);
  }

  .select-submit--title {
    display: flex;
    align-items: center;
    margin-bottom: toRem(20);

    &:last-child {
      margin-bottom: toRem(40);
    }

    img {
      height: toRem(40);
      width: toRem(40);
      margin-right: toRem(15);
    }
  }
}

.submit--btn {
  margin-top: toRem(15);

}