.settings__container {
  margin-top: toRem(40);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: toRem(1800);


  &--title {
    font-size: toRem(38);
    font-family: $font-alt;
    color: $color-darkgray;
    @include respond-to("medium") {
      font-size: toRem(35);
    }

  }

  &--decoration {
    margin: toRem(27) 0 toRem(27) toRem(90);
    @include respond-to("medium") {
      margin: toRem(20) 0 toRem(20) toRem(65);
    }

  }
  &--footer {
    font-size: toRem(36);
    font-family: $font-alt;
    font-weight: lighter;
    color: $color-darkgray;
    border: toRem(1) solid $color-gray;
    width: toRem(100);
    padding: toRem(15) toRem(80);
    margin: toRem(50);
  }

  &--elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: toRem(325);
    background: $color-white;
    @include respond-to("medium") {
      flex-direction: column;
      height: toRem(800);
    }

    section {
      text-align: center;
      width: toRem(120);

      img {
        height: toRem(83);
        margin-bottom: toRem(10);
      }

      h4 {
        font-family: $font-alt;
        color: $color-darkgray;
        margin: toRem(3);
      }

      div {
        width: toRem(70);
        margin: toRem(10) 0 toRem(10) toRem(25);
        border: 0.02rem solid $color-gray;
      }

      p {
        color: $color-darkgray;
      }
    }
  }
}