.statistics__container {
  height: toRem(384);
  min-width: toRem(1800);
  background-image: url("../../assets/OrangeBGC@2x.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  @include respond-to("medium") {
    flex-direction: column;
    height: toRem(775);

  }

  section {
    height: toRem(334);
    width: toRem(252);
    margin-top: toRem(95);
    @include respond-to("medium") {
      margin-top: toRem(20);
    }

    h2 {
      font-size: toRem(90);
      color: $color-yellow;
      margin-bottom: toRem(16);
    }

    h3 {
      font-size: toRem(18);
      color: $color-darkgray;
      margin-bottom: toRem(28);

    }

    p {
      font-size: toRem(16);
      color: $color-darkgray;

    }
  }
}